.addCustomer{
    width:90%;
    background-color: #fff;
    margin:10px auto;
    border-radius: 10px 10px 0 0;
    .title{
        padding:10px 20px;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
        color:#8c8989;
    }
    .formBox{
        border-radius: 0 0 10px 10px;
        text-align: center;
        .item{
            padding:10px 20px;
            span{
                padding:0 20px;
            }
            select{
                width:197px;
                height:35px;
                border:1px solid #cccccc;
            }
            input{
                color:rgb(85,85,85);
                height:35px;
                padding:5px 10px;
                border:1px solid rgb(204,204,204);
                &:focus{
                    outline: none;
                    border-color:#3bb4f2;
                }
            }
        }
    }
}
